body{
    background-image: url("../img/bg_home.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
}


.jumbotron{
    margin-top:-20px;   
    margin-left: -50px;
    width: 1450px;
    background-color: #E4E4E4;
    
    padding-top: 0px;
    padding-bottom:0px;
    background-size: cover;
    background: contain;
    height: 100px; /* define the height in pixels or make sure   */
                   /* you have something in your div with height */
                   /* so you can see your image */
}

