body{
    background-image: url("../img/bg_home.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
    zoom: 0.90;
}


.jumbotron{
    margin-top:-20px;   
    margin-left: -50px;
    margin-right: -48px;
    width: 1235px;
    background-color: #E4E4E4;
    
    padding-top: 0px;
    padding-bottom:0px;
    background-size: cover;
    background: contain;
    height: 80px; /* define the height in pixels or make sure   */
                   /* you have something in your div with height */
                   /* so you can see your image */
}

#div_readingmaterial{
    margin-top: 30px;
    
}

.p_number{
    font-size: 30px;
    font-weight: 600px;
}

#div_readingmaterialdetails{
    border:solid 1px #95989A;
    margin-left:-15px;
    padding:10px;
}

#title{
    font-weight: 800;
}

#available{
    color:#297B3C;
    font-weight: 800;
    font-style: italic;
}

#reserved{
    color:#F20707;
    font-weight: 800;
    font-style: italic;
}


.col_1, .col_11{
    margin-top:-10px;
}

.indent{
    margin-left:15px;
}

#button_reserve, #button_review{
    float:right;
    width: 150px;
}