#div_readingmaterialdetails{
    margin-left:50px;
    padding:10px;
}

#title{
    font-weight: 800;
}

#available{
    color:#297B3C;
    font-weight: 800;
    font-style: italic;
}

#reserved{
    color:#F20707;
    font-weight: 800;
    font-style: italic;
}


.col_1, .col_11{
    margin-top:-10px;
}

.indent{
    margin-left:15px;
}

#button_reserve, #button_review{
    float:right;
    width: 150px;
}